<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../../css/qugui/quguiStyle.css" rel="stylesheet">
    <script src="../../js/libs/jq/jquery-3.1.1.min.js"></script>
    <script src="../../js/libs/layer/layer.js"></script>
    <title>创建</title>
</head>
<body>

<div class="QuGuiFullScreenContainer QuGuiLayoutCenterV">
    <div class="QuGuiWidth80pc QuGuiHeight60pc QuGuiLayoutCenterH">
        <div class="QuGuiWidth40pc QuGuiHeight100pc debugBorder"></div>
        <div class="QuGuiWidth60pc QuGuiHeight100pc debugBorder"></div>
    </div>
</div>

<script src="../../js/qugui/trip/create.js"></script>
</body>
</html>