<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!--<link href="../../css/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet">-->
    <link href="../../css/qugui/quguiStyle.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../js/libs/html5shiv.min.js"></script>
    <script src="../../js/libs/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../js/libs/jq/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="../../js/libs/layer/layer.js"></script>
    <!--<link  href="../../css/libs/typo/typo.css" rel="stylesheet">-->
    <!--<script src="../../js/libs/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>-->
    <link href="../../css/qugui/trip/location.css" rel="stylesheet">

    <title>地点</title>
</head>
<body>
<div class="QuGuiFullScreenContainer boxContainer typo">
    <div id="leftBox" class="QuGuiLayoutCenterV QuGuiBox60And100pc">
        <div id="info"  class=" leftContentBox QuGuiLayoutCenterV">
            <div class=" QuGuiLayoutCenterH" style="width: 100%; height: 20%;">
                <img class="QuGuiPointerCursor QuiGuiHoverShadowChinaRed" src="../../imgs/logo.png" id="headIcon">
                <div class=" locationNameBox QuGuiLayoutCenterH QuGuiItemAlignBetween">
                    <div id="locationName" class=" QuGuiTextSize90 QuGuiLayoutCenterH QuGuiItemAlignEnd">
                        成都
                    </div>
                    <div style="width: 5px; height: 5px; background: #333333"></div>
                    <div id="locationSummary" class="  QuGuiTextAlignLeft QuGuiTextSize25 QuGuiLayoutCenterH">
                        和我在成都的街头走一走，直到所有的灯都熄灭了也不停留。
                    </div>
                </div>
            </div>
            <div class=" QuGuiLayoutCenterH" style="width: 100%; height: 8%;">
                <div id="slogan" class="QuGuiLayoutCenterH">
                    向来心是看客心，奈何人是剧中人
                </div>
            </div>
            <div class=" QuGuiLayoutCenterV" style="width: 100%; height: 10%;">
                <div class="profileNav QuGuiLayoutCenterH">
                    <div class="QuGuiHorizontalListBox">
                        <div class="QuGuiLayoutCenterH navBtnSelected" id="1NavBtn" title="印象"><i class="iconfont QuGuiTextSize12">
                            ☷</i></div>
                        <div class="QuGuiLayoutCenterH" id="2NavBtn" title="拨开云雾"><i class="iconfont QuGuiTextSize12">
                            ☳</i></div>
                        <div class="QuGuiLayoutCenterH" id="3NavBtn" title="轻车熟路"><i class="iconfont QuGuiTextSize12">
                            ☱</i></div>
                        <div class="QuGuiLayoutCenterH" id="4NavBtn" title="民俗民风"><i class="iconfont QuGuiTextSize12">
                            ☰</i></div>
                        <div class="QuGuiLayoutCenterH" id="5NavBtn" title="触景生情"><i class="iconfont QuGuiTextSize12">
                            ☴</i></div>
                        <div class="QuGuiLayoutCenterH" id="6NavBtn" title="去归"><i class="iconfont QuGuiTextSize12">
                            ☶</i></div>
                    </div>
                </div>
            </div>
            <div class=" QuGuiLayoutCenterH " style="width: 100%; height: 55%;">
                <div id="1NavBody" class="navBody ">
                    <div class="navBodyContentBox ">
                        <span class="QuGuiTextSize90" style="font-family: 'Microsoft YaHei'">“</span>
                        <span class="QuGuiTextSize45">一座来了就不想走的城市？</span>
                        <span class="QuGuiTextSize90"  style="font-family: 'Microsoft YaHei'">”</span>
                    </div>
                    <div class="navBodyContentBox QuGuiMarginTop5">
                        <span class="QuGuiTextSize90" style="font-family: 'Microsoft YaHei'">“</span>
                        <span class="QuGuiTextSize45">美女超多</span>
                        <span class="QuGuiTextSize90"  style="font-family: 'Microsoft YaHei'">”</span>
                    </div>
                    <div class="navBodyContentBox QuGuiMarginTop5">
                        <span class="QuGuiTextSize90" style="font-family: 'Microsoft YaHei'">“</span>
                        <span class="QuGuiTextSize45">怕老婆</span>
                        <span class="QuGuiTextSize90"  style="font-family: 'Microsoft YaHei'">”</span>
                    </div>
                    <div class="navBodyContentBox QuGuiMarginTop5">
                        <span class="QuGuiTextSize90" style="font-family: 'Microsoft YaHei'">“</span>
                        <span class="QuGuiTextSize45">辣椒</span>
                        <span class="QuGuiTextSize90"  style="font-family: 'Microsoft YaHei'">”</span>
                    </div>
                </div>
                <div id="2NavBody" class="navBody QuGuiLayoutCenterH">
                    这里可以填写一些到达成都后，对成都的一些了解，比如那些有名的小吃，景点什么的
                </div>
                <div id="3NavBody" class="navBody QuGuiLayoutCenterH">
                    游走在成都的时候，自己的一些经历
                </div>
                <div id="4NavBody" class="navBody QuGuiLayoutCenterH">
                    成都的一些民俗、民风。比如怕老婆什么的
                </div>
                <div id="5NavBody" class="navBody QuGuiLayoutCenterH">
                    对成都某些景点或地点，产生的自己的一些感想
                </div>
                <div id="6NavBody" class="navBody QuGuiLayoutCenterH ">
                    旅行的意义，这趟旅行，你有什么体会
                </div>
            </div>
            <div style="width: 30%; height: 2px; margin-top: 5px; background: black"></div>
            <div class=" QuGuiLayoutCenterH" style="width: 100%; height: 8%;">
                <button id="navBtnIndexBtn" class="profileBottomBtn QuGuiBtn"><i class="iconfont">&#xe600;</i></button>
                <button id="navBtnZoomIn" class="profileBottomBtn QuGuiBtn"><i class="iconfont">&#xe73b;</i>
                </button>
            </div>
        </div>
        <div id="article" style="display: none;" class="leftContentBox QuGuiLayoutCenterV">
            <div id="articleContent" class="QuGuiLayoutCenterV" style="opacity: 0; width: 100%; height: 90%;">
                <article class="QuGuiTextAlignLeft QuGuiTextSize14 QuGuiTextIndent2em">
                    偶然得见一个小莲花形状的香炉，花梨木的材质，十分精致细巧。想象着若点一炉檀香，在一个慵懒的午后读书品茗，或是静坐冥想参点禅意，也算是人生的一种清宁境界。也许只有在清净时，才可以忘记那个纷扰又深邃的世界，暂时地遗忘一切疲惫的感觉。人生是一本需要眉批的书，除了情感不可以装帧，名利以及一切都可以变卖。等到有一天弃笔埋名，在月光下卷袖煮茶，看一朵莲花随意开放，便是此生最浪漫的事了。
                </article>
            </div>
            <div style="width: 90%; height: 2px; background: black"></div>
            <div class="QuGuiLayoutCenterH" style="width: 100%; height: 10%;">
                <button id="navBtnZoomOut" class="profileBottomBtn QuGuiBtn"><i class="iconfont">&#xe67b;</i>
                </button>
            </div>
        </div>
    </div>
    <div id="rightBox" class="QuGuiLayoutCenterV QuGuiBox40And100pc QuGuiBackgroundColorBlack">
        <div class="visitedPlaceBox QuGuiLayoutCenterV">
            <div class="visitedPlaceBoxCenter QuGuiLayoutCenterH">
                <div class="visitedPlace QuiGuiHoverShadowWhite">
                    <img id="1Img" src="../../imgs/visitedPlace1.jpg" class="">
                    <img id="2Img" src="../../imgs/visitedPlace2.jpg" class="QuGuiHide">
                    <img id="3Img" src="../../imgs/visitedPlace3.jpg" class="QuGuiHide">
                    <img id="4Img" src="../../imgs/visitedPlace1.jpg" class="QuGuiHide">
                    <img id="5Img" src="../../imgs/visitedPlace2.jpg" class="QuGuiHide">
                    <img id="6Img" src="../../imgs/visitedPlace3.jpg" class="QuGuiHide">
                </div>
            </div>
            <div class="visitedPlaceBoxBottom QuGuiLayoutCenterV">
                <div class="navBtnBox QuGuiLayoutCenterH">
                    <!--<button class="navBtn  QuGuiTextSelectionStyleBlack"><</button>-->
                    <!--<button class="navBtn QuGuiTextSelectionStyleBlack">></button>-->
                </div>
                 <div class="everyDayMsg">
                    你是一树一树的花开，是燕在梁间的呢喃，你是爱，是暖，是希望，你是人间的四月天。
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/qugui/trip/location.js"></script>
</body>
</html>