<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="margin: 0; padding: 0" class="QuGuiScrollBar">
<head>
    <meta charset="UTF-8">
    <link href="../../css/qugui/quguiStyle.css" rel="stylesheet">
    <link href="../../css/qugui/trip/search.css" rel="stylesheet">
    <script src="../../js/libs/jq/jquery-3.1.1.min.js"></script>
    <script src="../../js/libs/layer/layer.js"></script>
    <title>搜索</title>
</head>
<body>

<div class="container">
    <div class="QuGuiLayoutBetweenH QuGuiWidth100pc QuGuiHeight60px QuGuiBackgroundColorBlack">
        <div class="QuGuiLayoutLeftH QuGuiWidth40pc QuGuiHeight100pc">
            <span class="QuGuiLayoutCenterH QuGuiWidth35pc QuGuiTextColorWhite QuGuiTextSize25">
                登录/注册&nbsp;&nbsp;手机去归
            </span>
        </div>
        <div class="QuGuiLayoutCenterH QuGuiWidth40pc QuGuiHeight100pc">
            <span class="QuGuiLayoutCenterH QuGuiWidth25pc QuGuiTextColorWhite QuGuiTextSize25">随便看看</span>
            <span class="QuGuiLayoutCenterH QuGuiWidth25pc QuGuiTextColorWhite QuGuiTextSize25">去归推荐</span>
            <span class="QuGuiLayoutCenterH QuGuiWidth25pc QuGuiTextColorWhite QuGuiTextSize25">TA在旅途</span>
            <span class="QuGuiLayoutCenterH QuGuiWidth25pc QuGuiTextColorWhite QuGuiTextSize25">个人中心</span>
        </div>
    </div>
    <div class="debugBorder QuGuiWidth60pc QuGuiHeight100pc" style="margin: 0 auto"></div>
</div>

<script src="../../js/qugui/trip/search.js"></script>
</body>
</html>