<!DOCTYPE html>
<html lang="en" class="QuGuiScrollBar" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link  href="../../css/libs/fullPage/jquery.fullpage.css" rel="stylesheet">
    <link  href="../../css/libs/typo/typo.css" rel="stylesheet">
    <link href="../../css/qugui/quguiStyle.css" rel="stylesheet">
    <script src="../../js/libs/jq/jquery-3.1.1.min.js"></script>
    <script src="../../js/libs/layer/layer.js"></script>
    <title>分享</title>
</head>
<body>
<div id="fullpage" class="typo">
    <div class="section active" id="page0">
        <input type="hidden" id="token" th:value="${session.token}">
        <input type="hidden" id="affiliationUser" th:value="${footprint.affiliationUser}">
        <div id="slideLeftBtn" class="QuGuiBtn QuGuiLayoutCenterH" style="color: #FFFFFF; z-index: 233; width: 80px; height: 35px; background: #000000; position: absolute; left: 10px; top: 10px;">
            <
        </div>
        <div id="slideRightBtn" class="QuGuiBtn QuGuiLayoutCenterH" style="color: #FFFFFF; z-index: 233; width: 80px; height: 35px; background: #000000; position: absolute; left: 95px; top: 10px;">
            >
        </div>
        <div class="slide" style="background: transparent">
            <div class="QuGuiWidth100pc QuGuiHeight100pc" style="width:100%;height:100%;position: relative">
                <div class="QuGuiPositionAbsolute QuGuiLeft0 QuGuiTop0 QuGuiBackgroundColorBlack QuGuiWidth100pc QuGuiHeight50pc">

                </div>
                <div class="QuGuiLayoutCenterV" style="position:absolute; left: 50%; top: 50%; width: 50vw; height: 60vh; margin-left: -25vw; margin-top: -30vh;">
                    <div class=" QuGuiTextColorWhite QuGuiLayoutCenterV QuGuiBorderWhite2px QuGuiBorderBottomNone QuGuiWidth100pc QuGuiHeight50pc">
                        <span class="QuGuiTextSize50" th:text="'旅行地：'+${footprint.name}">旅行地：成都</span>
                        <span class="QuGuiTextSize35" th:text="${footprint.summary}">一座来了就不想走的城市。</span>
                    </div>
                    <div class=" QuGuiLayoutCenterH QuGuiBorderBlack2px QuGuiBorderTopNone QuGuiWidth100pc QuGuiHeight50pc">
                        <span class="QuGuiTextSize66">现在开始分享吧！</span><span id="firstSlideNextBtn" class="QuGuiBtnRipple QuGuiTextSize30 QuGuiBtn QuGuiBlackBtnStyle QuGuiBtnRadiusMiddle"><i class="iconfont">&#xe67b;</i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class=" QuGuiLayoutCenterH QuGuiWidth100pc QuGuiHeight100pc" style="position: relative">
                <div class="QuGuiWidth30pc QuGuiHeight80pc QuGuiPositionAbsolute QuGuiBorderLeftNone"  style="right: 15%; top: 10%; background: pink;">
                    <img th:src="${footprint.image1}" src="../../imgs/visitedPlace2.jpg" class="QuGuiWidth100pc QuGuiHeight100pc QuGuiPositionAbsolute " style="left: 0; top: 3px; border: none;">
                    <div class="QuGuiWidth50pc QuGuiBorderBlack3px QuGuiHeight100pc QuGuiPositionAbsolute QuGuiBorderRightNone"  style="left: 0; top: 0; background: transparent;"></div>
                    <div class="QuGuiWidth50pc QuGuiBorderWhite3px QuGuiHeight100pc QuGuiPositionAbsolute QuGuiBorderLeftNone"  style="left: 50%; top: 0; background: transparent;"></div>
                </div>
                <div class="QuGuiWidth70pc QuGuiHeight100pc QuGuiLayoutCenterV">
                    <div class="QuGuiMarginRight20pc QuGuiHeight80pc QuGuiWidth70pc QuGuiLayoutCenterV">
                        <div class="QuGuiWidth100pc QuGuiHeight15pc QuGuiLayoutLeftH">
                            <input id="placeName1" placeholder="地点名称" class="QuGuiTextSize50 QuGuiTextInputLine2px">
                        </div>
                        <div class="QuGuiWidth100pc QuGuiHeight85pc">
                            <span class="QuGuiTextSize25">
                                <textarea id="describe1" placeholder="你在此处的感受......" class="QuGuiTextArea QuGuiWidth90pc QuGuiHeight90pc QuGuiBorderBlack2px QuGuiPadding10 QuGuiScrollBar"></textarea>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="QuGuiTextColorWhite QuGuiWidth30pc QuGuiBackgroundColorBlack QuGuiHeight100pc QuGuiLayoutCenterV">
                    <span class="QuGuiMarginLeft50pc QuGuiTextSize66">1/6</span>
                    <span class="QuGuiMarginLeft50pc QuGuiTextSize45">这&nbsp;&nbsp;&nbsp;</span>
                    <span class="QuGuiMarginLeft50pc QuGuiTextSize45">是&nbsp;&nbsp;&nbsp;</span>
                    <span class="QuGuiMarginLeft50pc QuGuiTextSize45">哪&nbsp;&nbsp;&nbsp;</span>
                    <span class="QuGuiMarginLeft50pc QuGuiTextSize45">里&nbsp;&nbsp;&nbsp;</span>
                    <span class="QuGuiMarginLeft50pc QuGuiTextSize45">？&nbsp;&nbsp;&nbsp;</span>
                    <span class="QuGuiMarginLeft50pc QuGuiTextSize22">☷&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="QuGuiLayoutCenterV QuGuiWidth100pc QuGuiHeight100pc">
                <div class="QuGuiHeight50pc QuGuiWidth100pc QuGuiLayoutCenterH">
                    <div class="QuGuiHeight100pc QuGuiWidth50pc QuGuiLayoutCenterH">
                        <div class="QuGuiHeight80pc QuGuiWidth70pc">
                            <div class="QuGuiWidth100pc QuGuiHeight15pc QuGuiLayoutRightH">
                                <input id="placeName2" placeholder="地点名称" style="text-align: right;" class="QuGuiTextSize35 QuGuiTextInputLine2px">
                                <span class="QuGuiTextSize30" style=" margin-left: 10px;">
                                    2/6 ☳
                                </span>
                                <span class="QuGuiTextSize30" style=" margin-right: 25px; margin-left: 10px;"><i class="iconfont">&#xe67b;</i></span>
                            </div>
                            <div class="QuGuiWidth100pc QuGuiHeight85pc QuGuiMarginTop5">
                                <span class="QuGuiTextSize22">
                                    <textarea id="describe2" placeholder="你在此处的感受......" class="QuGuiTextArea QuGuiWidth90pc QuGuiHeight90pc QuGuiBorderBlack2px QuGuiPadding10 QuGuiScrollBar"></textarea>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="QuGuiHeight100pc QuGuiWidth50pc QuGuiBackgroundColorBlack QuGuiLayoutCenterH">
                            <img th:src="${footprint.image2}" src="../../imgs/visitedPlace2.jpg" width="500" height="300" class="  QuGuiBorderWhite3px"/>
                    </div>
                </div>
                <div class="QuGuiHeight50pc QuGuiWidth100pc QuGuiLayoutCenterH">
                    <div class="QuGuiWidth50pc QuGuiHeight100pc QuGuiBackgroundColorBlack QuGuiLayoutCenterH">
                        <img th:src="${footprint.image3}" src="../../imgs/visitedPlace3.jpg" width="500" height="300" class="  QuGuiBorderWhite3px"/>
                    </div>
                    <div class="QuGuiHeight100pc QuGuiWidth50pc QuGuiLayoutCenterH">
                        <div class="QuGuiHeight80pc QuGuiWidth70pc">
                            <div class="QuGuiWidth100pc QuGuiHeight15pc QuGuiLayoutLeftH">
                                <span class="QuGuiTextSize30"><i class="iconfont">&#xe73b;</i></span>
                                <span class="QuGuiTextSize30" style=" margin-right: 10px; margin-left: 10px;">
                                   ☱ 3/6
                                </span>
                                <input id="placeName3" placeholder="地点名称" class="QuGuiTextSize35 QuGuiTextInputLine2px">
                            </div>
                            <div class="QuGuiWidth100pc QuGuiHeight85pc QuGuiMarginTop5">
                            <span class="QuGuiTextSize22">
                                <textarea id="describe3" placeholder="你在此处的感受......" class="QuGuiTextArea QuGuiWidth90pc QuGuiHeight90pc QuGuiBorderBlack2px QuGuiPadding10 QuGuiScrollBar"></textarea>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="QuGuiLayoutCenterH QuGuiWidth100pc QuGuiHeight100pc">
                <div class="QuGuiLayoutCenterV QuGuiHeight100pc QuGuiWidth33pc">
                    <div class="QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                        <img th:src="${footprint.image4}" src="../../imgs/visitedPlace3.jpg" width="350" height="450" class="QuGuiBorderBlack3px">
                    </div>
                    <div class="QuGuiWidth100pc QuGuiHeight30pc QuGuiBoxAlignColumnStartFlex">
                        <div class="QuGuiHeight80pc QuGuiWidth70pc">
                            <div class="QuGuiWidth100pc QuGuiHeight15pc QuGuiLayoutLeftH">
                                <span class="QuGuiTextSize30" style="color: rgb(103,103,103); margin-right: 10px;">
                                    ☰ 4/6
                                </span>
                                <input id="placeName4" placeholder="地点名称" class="QuGuiTextSize25 QuGuiTextInputLine2px">
                            </div>
                            <div class="QuGuiWidth100pc QuGuiHeight85pc QuGuiMarginTop10">
                            <span class="QuGuiTextSize18">
                                <textarea id="describe4" placeholder="你在此处的感受......" class="QuGuiTextArea QuGuiWidth90pc QuGuiHeight80pc QuGuiBorderBlack2px QuGuiPadding10 QuGuiScrollBar"></textarea>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="QuGuiBackgroundColorBlack QuGuiLayoutCenterV QuGuiHeight100pc QuGuiWidth33pc">
                    <div class="QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                        <img th:src="${footprint.image5}" src="../../imgs/visitedPlace3.jpg" style="border-color: rgb(103,103,103);" width="350" height="450" class="QuGuiBorderBlack3px">
                    </div>
                    <div class="QuGuiWidth100pc QuGuiHeight30pc QuGuiBoxAlignColumnStartFlex">
                        <div class="QuGuiHeight80pc QuGuiWidth70pc">
                            <div class="QuGuiWidth100pc QuGuiHeight15pc QuGuiLayoutLeftH">
                                <span class="QuGuiTextSize30" style="color: rgb(103,103,103); margin-right: 10px;">
                                    ☴ 5/6
                                </span>
                                <input id="placeName5" placeholder="地点名称" style="border-color: rgb(103,103,103); background: transparent" class="QuGuiTextSize25 QuGuiTextColorGray QuGuiTextInputLine2px">
                            </div>
                            <div class="QuGuiWidth100pc QuGuiHeight85pc QuGuiMarginTop10">
                            <span class="QuGuiTextSize18">
                                <textarea id="describe5" placeholder="你在此处的感受......" style="border-color: rgb(103,103,103);" class="QuGuiTextArea QuGuiWidth90pc QuGuiHeight80pc QuGuiTextColorGray QuGuiBorderBlack2px QuGuiPadding10 QuGuiScrollBar"></textarea>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="QuGuiLayoutCenterV QuGuiHeight100pc QuGuiWidth33pc">
                    <div class="QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                        <img th:src="${footprint.image6}" src="../../imgs/visitedPlace3.jpg" width="350" height="450" class="QuGuiBorderBlack3px">
                    </div>
                    <div class="QuGuiWidth100pc QuGuiHeight30pc QuGuiBoxAlignColumnStartFlex">
                        <div class="QuGuiHeight80pc QuGuiWidth70pc">
                            <div class="QuGuiWidth100pc QuGuiHeight15pc QuGuiLayoutLeftH">
                                <span class="QuGuiTextSize30" style="color: rgb(103,103,103); margin-right: 10px;">
                                    ☶ 6/6
                                </span>
                                <input id="placeName6" placeholder="地点名称" class="QuGuiTextSize25 QuGuiTextInputLine2px">
                            </div>
                            <div class="QuGuiWidth100pc QuGuiHeight85pc QuGuiMarginTop10">
                            <span class="QuGuiTextSize18">
                                <textarea id="describe6" placeholder="你在此处的感受......" class="QuGuiTextArea QuGuiWidth90pc QuGuiHeight80pc QuGuiBorderBlack2px QuGuiPadding10 QuGuiScrollBar"></textarea>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="page1">
        <div class="QuGuiWidth100pc QuGuiHeight100pc QuGuiLayoutCenterV">
            <div class="QuGuiLayoutCenterV QuGuiWidth70pc QuGuiHeight80pc">
                <div class="QuGuiWidth100pc QuGuiBoxAlignColumnBottomFlex QuGuiHeight20pc">
                    <span class="QuGuiTextSize66" th:text="${footprint.name}">成都</span>
                    <span class="QuGuiTextSize30" th:text="${footprint.summary}">一个来了就不想走的城市</span>
                </div>
                <div class="QuGuiWidth100pc QuGuiHeight80pc">
                    <div class="QuGuiWidth100pc QuGuiLayoutCenterH QuGuiHeight50pc">
                        <div class="QuGuiWidth33pc QuGuiLayoutCenterV QuGuiHeight100pc ">
                            <span class=" QuGuiTextSize35">☷</span>
                            <span id="previewPlaceName1" class=" QuGuiTextSize45">（未填写）</span>
                            <span id="previewDescribe1" class=" QuGuiWidth80pc QuGuiHeight20pc QuGuiTextSize22 QuGuiTextIndent2em QuGuiTextOmit" style="">
                                武侯祠好啊，好看啊，特别好看。武侯祠好啊，好看啊，特别好看。武侯祠好啊，好看啊，特别好看。武侯祠好啊，好看啊，特别好看。
                            </span>
                        </div>
                        <div class="QuGuiWidth33pc QuGuiLayoutCenterV QuGuiHeight100pc ">
                            <span class="QuGuiTextSize35">☳</span>
                            <span id="previewPlaceName2" class=" QuGuiTextSize45">（未填写）</span>
                            <span id="previewDescribe2" class=" QuGuiWidth80pc QuGuiHeight20pc QuGuiTextSize22 QuGuiTextIndent2em QuGuiTextOmit" style="">
                                青羊宫好啊，真的特别好，好好好。青羊宫好啊，真的特别好，好好好。青羊宫好啊，真的特别好，好好好。
                            </span>

                        </div>
                        <div class="QuGuiWidth33pc QuGuiLayoutCenterV QuGuiHeight100pc ">
                            <span class="QuGuiTextSize35">☱</span>
                            <span id="previewPlaceName3" class=" QuGuiTextSize45">（未填写）</span>
                            <span id="previewDescribe3" class=" QuGuiWidth80pc QuGuiHeight20pc QuGuiTextSize22 QuGuiTextIndent2em QuGuiTextOmit" style="">
                                锦里也很好，我也不知道好在哪儿，吃的东西特别多，但是好像和外面的没有什么区别。
                            </span>
                        </div>
                    </div>
                    <div class="QuGuiWidth100pc QuGuiLayoutCenterH QuGuiHeight50pc">
                        <div class="QuGuiWidth33pc QuGuiLayoutCenterV QuGuiHeight100pc ">
                            <span class="QuGuiTextSize35">☰</span>
                            <span id="previewPlaceName4" class="QuGuiTextSize45">（未填写）</span>
                            <span id="previewDescribe4" class="QuGuiWidth80pc QuGuiHeight20pc QuGuiTextSize22 QuGuiTextIndent2em QuGuiTextOmit" style="">
                                千年的水利工程可不是吹出来的，真的特别棒。
                            </span>
                        </div>
                        <div class="QuGuiWidth33pc QuGuiLayoutCenterV QuGuiHeight100pc ">
                            <span class="QuGuiTextSize35">☴</span>
                            <span id="previewPlaceName5" class=" QuGuiTextSize45">（未填写）</span>
                            <span id="previewDescribe5" class=" QuGuiWidth80pc QuGuiHeight20pc QuGuiTextSize22 QuGuiTextIndent2em QuGuiTextOmit" style="">
                                青城山是道教发源地之一，很好看的风景，我也不知道该怎么描述，反正就是好看。
                            </span>
                        </div>
                        <div class="QuGuiWidth33pc QuGuiLayoutCenterV QuGuiHeight100pc ">
                            <span class="QuGuiTextSize35">☶</span>
                            <span id="previewPlaceName6" class=" QuGuiTextSize45">（未填写）</span>
                            <span id="previewDescribe6" class=" QuGuiWidth80pc QuGuiHeight20pc QuGuiTextSize22 QuGuiTextIndent2em QuGuiTextOmit" style="">
                                方所是很有逼格的一家书店，全国就两家，一家在广州，另一家呢就在成都啦，反正还不错啦！
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section fp-auto-height" id="page7">
        <div class="QuGuiLayoutCenterH QuGuiWidth100pc QuGuiHeight30pc" style="height: 10vh;">
            <div class="QuGuiWidth90pc QuGuiHeight100pc QuGuiLayoutCenterH">
                <button class="QuGuiBtn QuGuiBorderRadius3px QuGuiBlackBtnStyle QuGuiSizeMiddle QuGuiTextSize25" id="shareBtn">分享</button>
                <button class="QuGuiBtn QuGuiBorderRadius3px QuGuiGrayBtnStyle QuGuiSizeMiddle QuGuiTextSize25 QuGuiMarginLeft10" id="cacheBtn">暂存</button>
            </div>
        </div>
    </div>
</div>
<script src="../../js/libs/fullPage/vendors/jquery.easings.min.js"></script>
<script type="text/javascript" src="../../js/libs/fullPage/vendors/scrolloverflow.min.js"></script>
<script src="../../js/libs/fullPage/jquery.fullpage.min.js"></script>
<script src="../../js/qugui/trip/share.js"></script>
</body>
</html>