<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/libs/datepicker/datedropper.css" rel="stylesheet">
    <!--<link href="../../css/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../js/libs/html5shiv.min.js"></script>
    <script src="../../js/libs/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../js/libs/jq/jquery-3.1.1.min.js"></script>
    <script src="../../js/jquery.leoweather.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="../../js/libs/layer/layer.js"></script>
    <link href="../../css/qugui/user/profile.css" rel="stylesheet">
    <link href="../../css/qugui/quguiStyle.css" rel="stylesheet">

    <title>个人中心</title>
</head>
<body>
<div class="QuGuiFullScreenContainer QuGuiLayoutCenterH">
    <div class="QuGuiBoxAlignColumnStartFlex  QuGuiBackgroundColorBlack QuGuiWidth20pc QuGuiHeight100pc">
        <div class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiBoxAlignColumnEndFlex">
            <img class="QuGuiCircleHeadIconBox" src="../../imgs/logo.png">
            <h3 class="QuGuiTextColorGray">我的虚幻岁月</h3>
            <span class="QuGuiTextColorGray">向来心是看客心，奈何人是剧中人。</span>
        </div>
        <div class="QuGuiSeparatorWhite"></div>
        <div id="recommendTab" class="btnHighlight settingBtn">☷ 推荐</div>
        <div id="tripTab" class="settingBtn">☷ 足迹</div>
        <div id="schedulingTab" class="settingBtn">☷ 行程</div>
        <div id="createTab" class="settingBtn">☷ 创建</div>
        <div id="friendsTab" class="settingBtn">☷ 朋友</div>
        <a id="temShareLink" href="../trip/share.html" th:href="@{/user/toShare}" target="_blank" class="QuGuiHide"> ☷ 分享</a>
        <div id="shareTab" class="settingBtn" onclick="window.open($('#temShareLink').attr('href'))">☷ 分享</div>
        <div id="personalInfoTab" class="settingBtn">☷ 资料</div>
    </div>
    <div class=" QuGuiLayoutCenterH QuGuiWidth80pc QuGuiHeight100pc">
        <div class=" QuGuiBoxAlignColumnStartFlex QuGuiWidth70pc QuGuiHeight100pc">
            <h1 id="boxTitleBox" style="width: 90%;" class="QuGuiTitleBorder">
                <span id="boxTitle">推荐</span>
            </h1>
            <div id="recommendBox"
                 class="QuGuiScrollBar QuGuiBoxAlignColumnStartFlex QuGuiWidth90pc QuGuiMarginBottom5pc QuGuiHeight100pc ">
                <input id="recommendBoxHidden" type="hidden" value="推荐"/>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiWidth15pc QuGuiLayoutLeftH QuGuiHeight100pc">
                        <span class="QuGuiBackgroundColorBlack QuGuiTextColorWhite QuGuiTextSize30 QuGuiWidth100pc QuGuiLayoutCenterV">
                            西南
                        </span>
                    </div>
                    <div class="QuGuiLayoutCenterV QuGuiBorderLeftBlack1px QuGuiWidth70pc QuGuiHeight100pc">
                        <span class=" QuGuiTextSize66  QuGuiWidth100pc QuGuiLayoutCenterH QuGuiHeight80pc">成都</span>
                        <span class="QuGuiWidth100pc QuGuiHeight20pc QuGuiLayoutCenterH ">
                            <span style="height: 1px; background: #cccccc" class="QuGuiTextColorGray QuGuiWidth20pc QuGuiBackgroundColorBlack"></span>
                            <span class="QuGuiTextColorGray ">&nbsp;去归&nbsp;</span>
                            <span style="height: 1px; background: #cccccc" class="QuGuiTextColorGray QuGuiWidth20pc QuGuiBackgroundColorBlack"></span>
                        </span>
                    </div>
                    <div class="QuGuiWidth15pc QuGuiLayoutCenterV QuGuiBorderLeftBlack1px QuGuiHeight100pc">
                        <label class="QuGuiPointerCursor QuGuiLayoutCenterV selectionForeColor">
                            <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                            <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                        </label>
                    </div>
                </div>
            </div>
            <div id="tripBox" style=""
                 class="QuGuiScrollBar QuGuiHide QuGuiBoxAlignColumnStartFlex QuGuiWidth90pc QuGuiMarginBottom5pc QuGuiHeight100pc ">
                <input id="tripBoxHidden" type="hidden" value="我的旅行"/>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="schedulingBox"
                 class=" QuGuiHide QuGuiScrollBar QuGuiBoxAlignColumnStartFlex QuGuiWidth90pc QuGuiMarginBottom5pc QuGuiHeight100pc ">
                <input id="schedulingBoxHidden" type="hidden" value="行程安排"/>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc ">
                        <div class="QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH QuGuiBorderBottomBlack1px">
                            <span class="QuGuiTextSize66">南京</span>
                            <span class="QuGuiTextSize66"> - </span>
                            <span class="QuGuiTextSize66">成都</span>
                        </div>
                        <div class="QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutCenterH">
                            <span class="QuGuiTextSize30">2017/05/07</span>
                            <span class="QuGuiTextSize30"> - </span>
                            <span class="QuGuiTextSize30">2017/05/09</span>
                        </div>
                    </div>
                    <div class="QuGuiLayoutCenterV QuGuiWidth20pc QuGuiHeight100pc QuGuiBorderLeftBlack1px">
                        <div class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight80pc ">
                            <span th:if="${1>1}" class="QuGuiWidth80pc QuGuiHeight80pc QuGuiLayoutCenterV QuGuiTextSize30">准备中</span>
                            <span style="border-radius: 50%" class="QuGuiHide QuGuiWidth80pc QuGuiHeight80pc QuGuiLayoutCenterV QuGuiTextSize30 QuGuiBtnRipple ">进行中</span>
                            <span class="QuGuiHide QuGuiPointerCursor QuGuiTextHoverChinaRed QuGuiWidth80pc QuGuiHeight80pc QuGuiLayoutCenterH QuGuiTextSize30">
                                <i class="iconfont QuGuiTextSize12 QuGuiMarginBottom5px">&#xe605;</i>
                                分享
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="createBox"
                 class="flipContainer QuGuiHide QuGuiBoxAlignColumnStartFlex QuGuiWidth90pc QuGuiMarginBottom5pc QuGuiHeight100pc ">
                <input id="createBoxHidden" type="hidden" value="创建行程"/>
                <div class="QuGuiLayoutCenterV QuGuiPositionRelative QuGuiWidth90pc QuGuiHeight95pc QuGuiBorderBlack2px">
                    <div class="QuGuiHeight40pc QuGuiWidth100pc QuGuiBackgroundColorBlack QuGuiLayoutCenterH">
                        <input class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiBackgroundTransparent QuGuiTextInputLine1px QuGuiTextAlignCenter QuGuiWidth25pc" style="border-color: white" placeholder="来自何方">
                        <span class="QuGuiTextColorWhite QuGuiTextAlignCenter QuGuiTextSize66 QuGuiWidth10pc">-</span>
                        <input class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiBackgroundTransparent QuGuiTextInputLine1px QuGuiTextAlignCenter QuGuiWidth25pc" style="border-color: white" placeholder="去往何处">
                    </div>
                    <div class="QuGuiLayoutCenterV QuGuiHeight60pc QuGuiWidth100pc QuGuiBackgroundColorWhite">
                        <span class="QuGuiTextSize22">你看不见我，哈哈！</span>
                    </div>
                    <div id="flipToggle" class="flip QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight60pc QuGuiBorderBlack1px QuGuiBackgroundColorWhite QuGuiPositionAbsolute" style="left: 50%; top: 30%; margin-left: -40%;">
                        <div class="front QuGuiWidth100pc QuGuiHeight100pc QuGuiLayoutCenterV">
                            <div class="QuGuiWidth100pc QuGuiHeight20pc QuGuiLayoutBottomH">
                                <span class="QuGuiTextSize35">你的旅行时间</span>
                            </div>
                            <div class="QuGuiMarginTop10 QuGuiMarginBottom10px QuGuiBorderBlack1px QuGuiBorderRightNone QuGuiBorderLeftNone QuGuiLayoutCenterV QuGuiWidth100pc QuGuiHeight60pc">
                                <p class="QuGuiWidth100pc QuGuiHeight20pc QuGuiLayoutCenterH"><span class="QuGuiTextSize45">去时：</span><input type="text" class="QuGuiWidth40pc QuGuiTextSize35 QuGuiTextAlignCenter QuGuiHeight100pc" id="goDate" /></p>
                                <p class="QuGuiWidth100pc QuGuiHeight20pc QuGuiLayoutCenterH"><span class="QuGuiTextSize45">归期：</span><input type="text" class="QuGuiWidth40pc QuGuiTextSize35 QuGuiTextAlignCenter QuGuiHeight100pc" id="backDate" /></p>
                            </div>
                            <div class="QuGuiWidth100pc QuGuiHeight20pc QuGuiLayoutTopH">
                                <div id="viewMore" title="去确定吧"  class="QuGuiBackgroundColorBlack QuGuiLayoutCenterH QuGuiBtnRadiusMiddle QuGuiBorderNone QuGuiOutLineNone QuGuiBtnRipple">
                                    <i class="iconfont QuGuiTextSize25 QuGuiWidth100pc QuGuiHeight100pc QuGuiLayoutCenterV QuGuiTextColorWhite QuGuiTextSize8 QuGuiTextHoverChinaRed QuGuiPointerCursor QuGuiAllDelay">&#xe67b;</i>
                                </div>
                            </div>
                        </div>
                        <div class="back QuGuiWidth100pc QuGuiHeight100pc QuGuiLayoutCenterV">
                            <div class="QuGuiWidth100pc QuGuiHeight20pc QuGuiLayoutBottomH">
                                <span class="QuGuiTextSize35">天气和心情</span>
                            </div>
                            <div class="QuGuiLayoutCenterH QuGuiMarginTop10 QuGuiMarginBottom10px QuGuiBorderBlack1px QuGuiBorderRightNone QuGuiBorderLeftNone QuGuiWidth100pc QuGuiHeight60pc">
                                <div class="QuGuiLayoutCenterV QuGuiWidth40pc QuGuiHeight100pc">
                                    <span class="QuGuiTextSize45">21℃</span>
                                    <span class="QuGuiTextSize30">晴</span>
                                </div>
                                <div class="QuGuiLayoutCenterV QuGuiWidth60pc QuGuiHeight100pc">
                                    <span class="QuGuiWidth100pc QuGuiMarginLeft5 QuGuiMarginRight10 QuGuiTextIndent2em QuGuiTextSize22 QuGuiTextAlignLeft">真的不知道该怎么写，反正我觉的挺开心的！</span>
                                    <span class="QuGuiWidth100pc QuGuiMarginLeft5 QuGuiMarginRight10 QuGuiTextIndent2em QuGuiTextSize22 QuGuiTextAlignLeft">好像真的是一座来了就不想走的城市，安逸的很！！！</span>
                                    <span class="QuGuiWidth100pc QuGuiMarginLeft5 QuGuiMarginRight10 QuGuiTextIndent2em QuGuiTextSize22 QuGuiTextAlignLeft">少不入川，老不出蜀。</span>
                                </div>
                            </div>
                            <div class="QuGuiWidth100pc QuGuiHeight20pc QuGuiLayoutTopH">
                                <div id="backBtn" title="看看日期" class="QuGuiRotate180 QuGuiBackgroundColorBlack QuGuiLayoutCenterH QuGuiBtnRadiusMiddle QuGuiBorderNone QuGuiOutLineNone QuGuiBtnRipple">
                                    <i  class="iconfont QuGuiTextSize25 QuGuiWidth100pc QuGuiHeight100pc QuGuiLayoutCenterV QuGuiTextColorWhite QuGuiTextSize8 QuGuiTextHoverChinaRed QuGuiPointerCursor QuGuiAllDelay">&#xe67b;</i>
                                </div>
                                <div id="confirmBtn" title="确定" class="QuGuiMarginLeft5 QuGuiBackgroundColorBlack QuGuiLayoutCenterH QuGuiBtnRadiusMiddle QuGuiBorderNone QuGuiOutLineNone QuGuiBtnRipple">
                                    <i class="iconfont QuGuiTextSize25 QuGuiWidth100pc QuGuiHeight100pc QuGuiLayoutCenterV QuGuiTextColorWhite QuGuiTextSize8 QuGuiTextHoverChinaRed QuGuiPointerCursor QuGuiAllDelay">&#xe632;</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="friendsBox"
                 class="QuGuiScrollBar QuGuiHide QuGuiBoxAlignColumnStartFlex QuGuiWidth90pc QuGuiMarginBottom5pc QuGuiHeight100pc ">
                <input id="friendsBoxHidden" type="hidden" value="朋友们"/>
                <div class="QuGuiWidth100pc QuGuiHeight100pc QuGuiPositionRelative " style="text-align: center">
                    <div class="tripBorderShadow QuGuiLayoutCenterV QuGuiWidth50pc QuGuiHeight20pc QuGuiFloatLeft">
                        <div class="QuGuiLayoutCenterH QuGuiWidth95pc QuGuiHeight90pc QuGuiBorderBlack2px QuGuiPositionRelative">
                            <div class="QuGuiLayoutCenterH QuGuiWidth35pc QuGuiHeight100pc ">
                                <div style="width: 80px; height:80px; border-radius: 40px; background: url('../../imgs/logo.png'); background-size: cover"></div>
                            </div>
                            <div class="QuGuiLayoutCenterV QuGuiWidth5pc QuGuiHeight100pc">
                                <span style="width: 1px; background: #ccc" class="QuGuiTextColorGray QuGuiHeight20pc"></span>
                                <span class="QuGuiTextColorGray">去</span>
                                <span class="QuGuiTextColorGray">归</span>
                                <span style="width: 1px; background: #ccc" class="QuGuiTextColorGray QuGuiHeight20pc"></span>
                            </div>
                            <div class="QuGuiLayoutCenterV QuGuiWidth60pc QuGuiHeight100pc ">
                                <span class="QuGuiTextSize25 ">木格窗</span>
                                <span class="QuGuiTextSize12  QuGuiTextAlignLeft QuGuiWidth90pc QuGuiTextIndent2em">向来心是看客心，奈何人是剧中人。</span>
                            </div>
                        </div>
                    </div>

                    <div class="tripBorderShadow QuGuiLayoutCenterV QuGuiWidth50pc QuGuiHeight20pc QuGuiFloatLeft">
                        <div class="QuGuiLayoutCenterH QuGuiWidth95pc QuGuiHeight90pc QuGuiBorderBlack2px QuGuiPositionRelative">
                            <div class="QuGuiLayoutCenterH QuGuiWidth35pc QuGuiHeight100pc ">
                                <div style="width: 80px; height:80px; border-radius: 40px; background: url('../../imgs/logo.png'); background-size: cover"></div>
                            </div>
                            <div class="QuGuiLayoutCenterV QuGuiWidth5pc QuGuiHeight100pc">
                                <span style="width: 1px; background: #ccc" class="QuGuiTextColorGray QuGuiHeight20pc"></span>
                                <span class="QuGuiTextColorGray">去</span>
                                <span class="QuGuiTextColorGray">归</span>
                                <span style="width: 1px; background: #ccc" class="QuGuiTextColorGray QuGuiHeight20pc"></span>
                            </div>
                            <div class="QuGuiLayoutCenterV QuGuiWidth60pc QuGuiHeight100pc ">
                                <span class="QuGuiTextSize25 ">木格窗</span>
                                <span class="QuGuiTextSize12  QuGuiTextAlignLeft QuGuiWidth90pc QuGuiTextIndent2em">向来心是看客心，奈何人是剧中人。</span>
                            </div>
                        </div>
                    </div>

                    <div class="tripBorderShadow QuGuiLayoutCenterV QuGuiWidth50pc QuGuiHeight20pc QuGuiFloatLeft">
                        <div class="QuGuiLayoutCenterH QuGuiWidth95pc QuGuiHeight90pc QuGuiBorderBlack2px QuGuiPositionRelative">
                            <div class="QuGuiLayoutCenterH QuGuiWidth35pc QuGuiHeight100pc ">
                                <div style="width: 80px; height:80px; border-radius: 40px; background: url('../../imgs/logo.png'); background-size: cover"></div>
                            </div>
                            <div class="QuGuiLayoutCenterV QuGuiWidth5pc QuGuiHeight100pc">
                                <span style="width: 1px; background: #ccc" class="QuGuiTextColorGray QuGuiHeight20pc"></span>
                                <span class="QuGuiTextColorGray">去</span>
                                <span class="QuGuiTextColorGray">归</span>
                                <span style="width: 1px; background: #ccc" class="QuGuiTextColorGray QuGuiHeight20pc"></span>
                            </div>
                            <div class="QuGuiLayoutCenterV QuGuiWidth60pc QuGuiHeight100pc ">
                                <span class="QuGuiTextSize25 ">木格窗</span>
                                <span class="QuGuiTextSize12  QuGuiTextAlignLeft QuGuiWidth90pc QuGuiTextIndent2em">向来心是看客心，奈何人是剧中人。</span>
                            </div>
                        </div>
                    </div>

                    <div class="tripBorderShadow QuGuiLayoutCenterV QuGuiWidth50pc QuGuiHeight20pc QuGuiFloatLeft">
                        <div class="QuGuiLayoutCenterH QuGuiWidth95pc QuGuiHeight90pc QuGuiBorderBlack2px QuGuiPositionRelative">
                            <div class="QuGuiLayoutCenterH QuGuiWidth35pc QuGuiHeight100pc ">
                                <div style="width: 80px; height:80px; border-radius: 40px; background: url('../../imgs/logo.png'); background-size: cover"></div>
                            </div>
                            <div class="QuGuiLayoutCenterV QuGuiWidth5pc QuGuiHeight100pc">
                                <span style="width: 1px; background: #ccc" class="QuGuiTextColorGray QuGuiHeight20pc"></span>
                                <span class="QuGuiTextColorGray">去</span>
                                <span class="QuGuiTextColorGray">归</span>
                                <span style="width: 1px; background: #ccc" class="QuGuiTextColorGray QuGuiHeight20pc"></span>
                            </div>
                            <div class="QuGuiLayoutCenterV QuGuiWidth60pc QuGuiHeight100pc ">
                                <span class="QuGuiTextSize25 ">木格窗</span>
                                <span class="QuGuiTextSize12  QuGuiTextAlignLeft QuGuiWidth90pc QuGuiTextIndent2em">向来心是看客心，奈何人是剧中人。</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="personalInfoBox"
                 class="QuGuiHide QuGuiBoxAlignColumnStartFlex QuGuiWidth100pc QuGuiHeight100pc QuGuiMarginTop30">
                <div class="QuGuiWidth100pc QuGuiHeight100pc QuGuiMarginTop25">
                    <fieldset style="width: 90%; margin: auto" class="QuGuiBoxAlignColumnStartFlex">
                        <legend style="font-size: 32px; border-bottom-width: 2px; border-bottom-color: #000000">
                            个人资料
                        </legend>
                        <div class="profileInputHeight QuGuiWidth100pc QuGuiBoxAlignRowAroundFlex">
                            <input readonly type="text" value="昵称：我的虚幻岁月"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                            <input readonly type="text" value="性别：男"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                        </div>
                        <div class="profileInputHeight QuGuiWidth100pc QuGuiBoxAlignRowAroundFlex">
                            <input readonly type="text" value="邮箱：nandem@126.com"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                            <input readonly type="text" value="手机号：13551274792"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                        </div>
                        <div class="profileInputHeight QuGuiWidth100pc QuGuiBoxAlignRowAroundFlex">
                            <input readonly type="text" value="身份证号：320123199304014811"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                            <input readonly type="text" value="真实姓名：叶明"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                        </div>
                    </fieldset>
                </div>
                <div style="margin-bottom: 7px;width: 90%; height: 2px; background: #000000"></div>
                <div style="width: 90%; height: 30px; margin-bottom: 45px;" class=" QuGuiLayoutBetweenH">
                    <div style="width: 50%; height: 30px;" class=" QuGuiLayoutLeftH">
                        <span class="QuGuiTextSize25 QuGuiTextBold">第234位申请者资料</span>
                        <span class="QuGuiTextSize22">&nbsp;&nbsp;2017年3月21日</span>
                    </div>
                    <div style="width: 50%; height: 30px;" class=" QuGuiLayoutRightH">
                        <button id="modifyBtn" style="line-height: 7px;"
                                class="QuGuiBtn QuGuiTextSize25 QuGuiWidth80px QuGuiHeight100pc QuGuiBlackBtnStyle">修改
                        </button>
                        <button style="line-height: 7px;"
                                class="QuGuiBtn QuGuiTextSize25 QuGuiMarginLeft5 QuGuiWidth80px QuGuiHeight100pc QuGuiBlackBtnStyle">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="messageBox" style="margin-left: 0;"
             class="QuGuiScrollBar QuGuiWidth30pc QuGuiBackgroundColorGray QuGuiHeight100pc">
            <div class="tips QuGuiLayoutCenterH">
                有人查看了你的足迹
            </div>
            <div class="tips QuGuiLayoutCenterH">
                有人刚刚走完你的足迹
            </div>
            <div class="tips QuGuiLayoutCenterH">
                有人想要关注你
            </div>
            <div class="tips QuGuiLayoutCenterH">
                你的足迹被999人收藏
            </div>
            <div class="tips QuGuiLayoutCenterH">
                我真的编不下去了
            </div>
            <div class="tips QuGuiLayoutCenterH">
                这个就是最后一条消息
            </div>
            <div class="tips QuGuiLayoutCenterH">
                这个就是最后一条消息
            </div>
        </div>
    </div>
</div>
<script src="../../js/libs/datepicker/datedropper.js"></script>
<script src="../../js/qugui/user/profile.js"></script>
</body>
</html>