<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!--<link href="../../css/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../js/libs/html5shiv.min.js"></script>
    <script src="../../js/libs/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../js/libs/jq/jquery-3.1.1.min.js"></script>
    <script src="../../js/jquery.leoweather.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="../../js/libs/layer/layer.js"></script>
    <script src="../../js/libs/paginate/jquery.paginate.js"></script>
    <link href="../../css/qugui/user/profile.css" rel="stylesheet">
    <link href="../../css/qugui/quguiStyle.css" rel="stylesheet">

    <title>个人中心</title>
</head>
<body>
<div class="QuGuiFullScreenContainer QuGuiLayoutCenterH">
    <div class="QuGuiBoxAlignColumnStartFlex  QuGuiBackgroundColorBlack QuGuiWidth20pc QuGuiHeight100pc">
        <div class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiBoxAlignColumnEndFlex">
            <img class="QuGuiCircleHeadIconBox" src="../../imgs/logo.png">
            <h3 class="QuGuiTextColorGray">我的虚幻岁月</h3>
        </div>
        <div class="QuGuiSeparatorWhite"></div>
        <div id="recommendTab" class="btnHighlight settingBtn">☷ 推荐</div>
        <div id="tripTab" class="settingBtn">☷ 足迹</div>
        <div id="schedulingTab" class="settingBtn">☷ 行程</div>
        <div id="friendsTab" class="settingBtn">☷ 朋友</div>
        <a id="temShareLink" href="../trip/share.html" th:href="@{/user/toShare}" target="_blank" class="QuGuiHide"> ☷ 分享</a>
        <div id="shareTab" class="settingBtn" onclick="window.open($('#temShareLink').attr('href'))">☷ 分享</div>
        <div id="personalInfoTab" class="settingBtn">☷ 资料</div>
    </div>
    <div class=" QuGuiLayoutCenterH QuGuiWidth80pc QuGuiHeight100pc">
        <div class=" QuGuiBoxAlignColumnStartFlex QuGuiWidth70pc QuGuiHeight100pc">
            <h1 id="boxTitleBox" style="width: 90%;" class="QuGuiTitleBorder">
                <span id="boxTitle">推荐</span>
            </h1>
            <div id="recommendBox"
                 class="  QuGuiBoxAlignColumnStartFlex QuGuiWidth90pc QuGuiMarginBottom5pc QuGuiHeight100pc ">
                <input id="recommendBoxHidden" type="hidden" value="推荐"/>

            </div>
            <div id="tripBox" style=""
                 class="QuGuiScrollBar QuGuiHide QuGuiBoxAlignColumnStartFlex QuGuiWidth90pc QuGuiMarginBottom5pc QuGuiHeight100pc ">
                <input id="tripBoxHidden" type="hidden" value="我的旅行"/>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background: #eeeeee"
                     class=" QuGuiMinHeight QuGuiBorderBlack2px QuGuiMarginBottom10px QuGuiWidth90pc QuGuiHeight20pc QuGuiLayoutCenterH QuGuiBorderBottom tripBorderShadow">
                    <div class="QuGuiBoxAlignColumnCenterCenterFlex QuGuiWidth20pc QuGuiHeight100pc">
                        <span class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight20pc"></span>
                        <span style="background: #000000"
                              class="QuGuiTextColorWhite QuGuiTextSize50 QuGuiLayoutCenterH QuGuiHeight40pc">大理</span>
                        <span class="QuGuiTextColorBlack QuGuiTextSize25 QuGuiTextBold QuGuiBoxAlignColumnStartFlex QuGuiHeight40pc">中国•云南</span>
                    </div>
                    <div style="" class="QuGuiLayoutCenterV QuGuiWidth80pc QuGuiHeight100pc">
                        <div class=" QuGuiWidth100pc QuGuiHeight70pc QuGuiLayoutCenterH">
                            <div style="word-break:break-all; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; padding: 15px 5px 0 10px;"
                                 class="QuGuiWidth100pc QuGuiHeight90pc QuGuiTextSize22 QuGuiTextIndent2em">
                                这是一个柔软的城市，你一伸手，就可以掠到一缕柔软的花香，一片未及化作雨的云，和一丝若隐若现的甜蜜。看着大理人平静而微笑着的眼睛，你或许无法想像，这里也曾经是一个王者之邦、一片戎马之地。这温柔的风，曾经吹起猎猎的战旗，而那湛蓝的天空，也曾经传递着萧萧的狼烟。
                            </div>
                        </div>
                        <div style="padding-right: 10px;"
                             class=" QuGuiWidth100pc QuGuiHeight30pc QuGuiLayoutRightH">
                            <div style="" class="QuGuiWidth40pc QuGuiHeight100pc QuGuiLayoutCenterH">
                                <b class="temB"></b><span class="temSpan QuGuiTextColorBlack">去|归</span><b
                                    class="temB"></b>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe620;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">2342</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe61d;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">999</span>
                                </label>
                            </div>
                            <div class=" QuGuiWidth20pc QuGuiHeight100pc  QuGuiLayoutRightH QuGuiMarginLeft20">
                                <label class="QuGuiPointerCursor selectionForeColor">
                                    <i class="iconfont  QuGuiTextSize30">&#xe601;</i>
                                    <span class="QuGuiMarginLeft5  QuGuiTextSize22">8565</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="schedulingBox"
                 class=" QuGuiHide QuGuiBoxAlignColumnStartFlex QuGuiWidth90pc QuGuiMarginBottom5pc QuGuiHeight100pc ">
                <input id="schedulingBoxHidden" type="hidden" value="行程安排"/>
            </div>
            <div id="friendsBox"
                 class=" QuGuiHide QuGuiBoxAlignColumnStartFlex QuGuiWidth90pc QuGuiMarginBottom5pc QuGuiHeight100pc ">
                <input id="friendsBoxHidden" type="hidden" value="朋友们"/>
            </div>
            <div id="personalInfoBox"
                 class="QuGuiHide QuGuiBoxAlignColumnStartFlex QuGuiWidth100pc QuGuiHeight100pc QuGuiMarginTop30">
                <div class="QuGuiWidth100pc QuGuiHeight100pc QuGuiMarginTop25">
                    <fieldset style="width: 90%; margin: auto" class="QuGuiBoxAlignColumnStartFlex">
                        <legend style="font-size: 32px; border-bottom-width: 2px; border-bottom-color: #000000">
                            个人资料
                        </legend>
                        <div class="profileInputHeight QuGuiWidth100pc QuGuiBoxAlignRowAroundFlex">
                            <input readonly type="text" value="昵称：我的虚幻岁月"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                            <input readonly type="text" value="性别：男"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                        </div>
                        <div class="profileInputHeight QuGuiWidth100pc QuGuiBoxAlignRowAroundFlex">
                            <input readonly type="text" value="邮箱：nandem@126.com"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                            <input readonly type="text" value="手机号：13551274792"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                        </div>
                        <div class="profileInputHeight QuGuiWidth100pc QuGuiBoxAlignRowAroundFlex">
                            <input readonly type="text" value="身份证号：320123199304014811"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                            <input readonly type="text" value="真实姓名：叶明"
                                   class="QuGuiTextColorGray QuGuiSize45pc QuGuiTextInputLine QuGuiTextSize35">
                        </div>
                    </fieldset>
                </div>
                <div style="margin-bottom: 7px;width: 90%; height: 2px; background: #000000"></div>
                <div style="width: 90%; height: 30px; margin-bottom: 45px;" class=" QuGuiBoxAlignRowBetweenFlex">
                    <div style="width: 50%; height: 30px;" class=" QuGuiLayoutLeftH">
                        <span class="QuGuiTextSize25 QuGuiTextBold">第234位申请者资料</span>
                        <span class="QuGuiTextSize22">&nbsp;&nbsp;2017年3月21日</span>
                    </div>
                    <div style="width: 50%; height: 30px;" class=" QuGuiLayoutRightH">
                        <button id="modifyBtn" style="line-height: 7px;"
                                class="QuGuiBtn QuGuiTextSize25 QuGuiWidth80px QuGuiHeight100pc QuGuiBlackBtnStyle">修改
                        </button>
                        <button style="line-height: 7px;"
                                class="QuGuiBtn QuGuiTextSize25 QuGuiMarginLeft5 QuGuiWidth80px QuGuiHeight100pc QuGuiBlackBtnStyle">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="messageBox" style="margin-left: 0;"
             class="QuGuiScrollBar QuGuiWidth30pc QuGuiBackgroundColorGray QuGuiHeight100pc">
            <div class="tips QuGuiLayoutCenterH">
                有人查看了你的足迹
            </div>
            <div class="tips QuGuiLayoutCenterH">
                有人刚刚走完你的足迹
            </div>
            <div class="tips QuGuiLayoutCenterH">
                有人想要关注你
            </div>
            <div class="tips QuGuiLayoutCenterH">
                你的足迹被999人收藏
            </div>
            <div class="tips QuGuiLayoutCenterH">
                我真的编不下去了
            </div>
            <div class="tips QuGuiLayoutCenterH">
                这个就是最后一条消息
            </div>
            <div class="tips QuGuiLayoutCenterH">
                这个就是最后一条消息
            </div>
        </div>
    </div>
</div>
<script src="../../js/qugui/user/profile.js"></script>
</body>
</html>