* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 62.5%;
    font-family:FangzhengSongkeJianti, FangzhengBoYaJianti, FangzhengLantingJianti,FangzhengSongkeFanti, arial, helvetica, sans-serif;

    background: #FFFFFF;

    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    user-select:none;

    min-width: 1024px;
    min-height: 700px;
}

/* webkit, opera, IE9 */
::selection {
    background: rgb(230, 0, 0);
    color: #FFFFFF;
}

/* mozilla firefox */
::-moz-selection {
    background: rgb(230, 0, 0);
    color: #FFFFFF;
}

/*^_^*------------容器和导航------------*^_^*/
.QuGuiFullScreenContainer {
    width: 100%;
    height: 100%;
}

.boxLayer1 {
    width: 85%;
}

.QuGuiPointerCursor {
    cursor: pointer;
}

/*^_^*------------属性操作------------*^_^*/
.QuGuiInputHide {
    background: transparent;
    border: none;
}

/*^_^*------------头像等统一风格样式---------------*^_^*/
.QuGuiCircleHeadIconBox
{
    width: 100px;
    height: 100px;

    border-radius: 50px;

    border: 2px solid #aaaaaa;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.QuGuiScrollBar
{
    overflow: scroll;
    padding: 8px 8px 0 10px;
    background: transparent;
}
.QuGuiScrollBar::-webkit-scrollbar
{
    width: 6px;
    height: 0;
    /*background-color: #000000;*/
}

/*定义滚动条轨道 内阴影+圆角*/
.QuGuiScrollBar::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
.QuGuiScrollBar::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #000;
}
/*^_^*------------分隔符------------*^_^*/
.QuGuiSeparatorWhite
{
    width: 90%;
    height: 1px;

    margin: 5px 0;

    background: #AAAAAA;
}

/*^_^*------------颜色------------*^_^*/
.QuGuiTextColorLinkChinaRed {
    color: rgb(230, 0, 0);
}
.QuGuiTextColorGray {
    color: #CCCCCC;
}

.QuGuiTextColorLinkBlack {
    color: #000000;
}
.QuGuiTextColorBlack {
    color: #000000;
}
.QuGuiTextColorWhite {
    color: #FFFFFF;
}
.QuGuiTextColorGray {
    color: #cccccc;
}

.QuGuiBackgroundTransparent {
    background: transparent;
}
.QuGuiBackgroundColorBlack {
    background: black;
}
.QuGuiBackgroundColorWhite {
     background: white;
 }
.QuGuiBackgroundColorGray {
    background: #CFCFCF;
}
.QuGuiBackgroundColorGray2 {
    background: #efefef;
}

.QuGuiBackgroundColorChinaRed {
    background: rgb(230, 0, 0);
}

.QuiGuiHoverShadowChinaRed
{
    transition:box-shadow .3s;
    -moz-transition:box-shadow .3s; /* Firefox 4 */
    -webkit-transition:box-shadow .3s; /* Safari and Chrome */
    -o-transition:box-shadow .3s; /* Opera */
}
.QuiGuiHoverShadowChinaRed:hover {
    -webkit-box-shadow: 0 0 3px rgb(230, 0, 0);
    -moz-box-shadow: 0 0 3px rgb(230, 0, 0);
    box-shadow: 0 0 3px rgb(230, 0, 0);
}

.QuiGuiHoverShadowWhite
{
    transition:box-shadow .3s;
    -moz-transition:box-shadow .3s; /* Firefox 4 */
    -webkit-transition:box-shadow .3s; /* Safari and Chrome */
    -o-transition:box-shadow .3s; /* Opera */
}

.QuiGuiHoverShadowWhite:hover {
    -webkit-box-shadow: 0 0 3px 3px #aaa;
    -moz-box-shadow: 0 0 3px 3px #aaa;
    box-shadow: 0 0 3px 3px #aaa;
}

/*^_^*------------尺寸------------*^_^*/
.QuGuiWidth50px {
    width: 50px;
}
.QuGuiWidth80px {
    width: 80px;
}
.QuGuiWidth250px {
     width: 250px;
 }

.QuGuiHeight40 {
    height: 40px;
}

.QuGuiHeight50 {
    height: 50px;
}
.QuGuiSize45pc
{
    width: 45%;
    height: 50px;
}
.QuGuiSizeMiddle {
    width: 200px;
    height: 40px;
}
.QuGuiSizeLarge {
    width: 300px;
    height: 40px;
}
.QuGuiMinHeight
{
    min-height: 120px;
}

/*pc= percent*/

.QuGuiHeight10pc
{
    height: 10%;
}
.QuGuiHeight5pc
{
    height: 5%;
}
.QuGuiHeight8pc
{
    height: 8%;
}
.QuGuiHeight15pc
{
    height: 15%;
}
.QuGuiHeight20pc
{
    height: 20%;
}
.QuGuiHeight25pc
{
    height: 25%;
}
.QuGuiHeight30pc
{
    height: 30%;
}
.QuGuiHeight30px
{
    height: 30px;
}
.QuGuiHeight60px
{
    height: 60px;
}
.QuGuiHeight120px
{
    height: 120px;
}
.QuGuiWidth120px
{
    width: 120px;
}
.QuGuiHeight300px
{
    height: 300px;
}
.QuGuiWidth300px
{
    width: 300px;
}
.QuGuiHeight35pc
{
    height: 35%;
}
.QuGuiHeight40pc
{
    height: 40%;
}
.QuGuiHeight50pc
{
    height: 50%;
}
.QuGuiHeight50px
{
    height: 50px;
}
.QuGuiHeight55pc
{
    height: 55%;
}
.QuGuiHeight60pc
{
    height: 60%;
}
.QuGuiHeight65pc
{
    height: 65%;
}
.QuGuiHeight70pc
{
    height: 70%;
}
.QuGuiHeight80pc
{
    height: 80%;
}
.QuGuiHeight85pc
{
    height: 85%;
}
.QuGuiHeight90pc
{
    height: 90%;
}
.QuGuiHeight95pc
{
    height: 95%;
}
.QuGuiHeight100pc
{
    height: 100%;
}
.QuGuiWidth5pc
{
    width: 5%;
}
.QuGuiWidth10pc
{
    width: 10%;
}
.QuGuiWidth15pc
{
    width: 15%;
}
.QuGuiWidth20pc
{
    width: 20%;
}
.QuGuiWidth25pc
{
    width: 25%;
}
.QuGuiWidth30pc
{
    width: 30%;
}
.QuGuiWidth31pc
{
    width: 31%;
}
.QuGuiWidth33pc
{
    width: 33%;
}
.QuGuiWidth35pc
{
    width: 35%;
}
.QuGuiWidth40pc
{
    width: 40%;
}
.QuGuiWidth45pc
{
    width: 45%;
}
.QuGuiWidth50pc
{
    width: 50%;
}
.QuGuiWidth55pc
{
    width: 55%;
}
.QuGuiWidth60pc
{
    width: 60%;
}
.QuGuiWidth70pc
{
    width: 70%;
}
.QuGuiWidth75pc
{
    width: 75%;
}
.QuGuiWidth80pc
{
    width: 80%;
}
.QuGuiWidth85pc
{
    width: 85%;
}
.QuGuiWidth90pc
{
    width: 90%;
}
.QuGuiWidth95pc
{
    width: 95%;
}
.QuGuiWidth100pc
{
    width: 100%;
}

.QuGuiBoxW50pc
{
    width: 50%;
}
.QuGuiBoxH50pc
{
    height: 50%;
}

.QuGuiBox10And100pc {
    width: 10%;
    height: 100%;
}

.QuGuiBox20And100pc {
    width: 20%;
    height: 100%;
}

.QuGuiBox30And100pc {
    width: 30%;
    height: 100%;
}

.QuGuiBox40And100pc {
    width: 40%;
    height: 100%;
}

.QuGuiBox50And100pc {
    width: 50%;
    height: 100%;
}

.QuGuiBox60And100pc {
    width: 60%;
    height: 100%;
}

.QuGuiBox70And100pc {
    width: 70%;
    height: 100%;
}

.QuGuiBox80And100pc {
    width: 80%;
    height: 100%;
}

.QuGuiBox90And100pc {
    width: 90%;
    height: 100%;
}

.QuGuiBox100And100pc {
    width: 100%;
    height: 100%;
}

/*^_^*------------对齐方式------------*^_^*/
.QuGuiLayoutBottomH
{
    display: flex;
    /*flex-direction: column;!*主轴方向，默认row*!*/
    justify-content: center; /*主轴对齐方式*/
    align-items: flex-end; /*交叉轴对齐方式*/
}
.QuGuiLayoutTopH
{
    display: flex;
    /*flex-direction: column;!*主轴方向，默认row*!*/
    justify-content: center; /*主轴对齐方式*/
    align-items: flex-start; /*交叉轴对齐方式*/
}
.QuGuiLayoutTopLeftH
{
    display: flex;
    /*flex-direction: column;!*主轴方向，默认row*!*/
    justify-content: flex-start; /*主轴对齐方式*/
    align-items: flex-start; /*交叉轴对齐方式*/
}
.QuGuiWrap
{
    flex-wrap: wrap;
}
.QuGuiWrapReverse
{
    flex-wrap: wrap-reverse;
}

.QuGuiBoxAlignColumnBottomFlex
{
    display: flex;
    flex-direction: column;/*主轴方向，默认row*/
    justify-content: flex-end; /*主轴对齐方式*/
    align-items: center; /*交叉轴对齐方式*/
}
.QuGuiLayoutRightH {
    display: flex;
    /*flex-direction: column;!*主轴方向，默认row*!*/
    justify-content: flex-end; /*主轴对齐方式*/
    align-items: center; /*交叉轴对齐方式*/
}
.QuGuiLayoutLeftH {
    display: flex;
    /*flex-direction: column;!*主轴方向，默认row*!*/
    justify-content: flex-start; /*主轴对齐方式*/
    align-items: center; /*交叉轴对齐方式*/
}
.QuGuiLayoutLeftV {
    display: flex;
    flex-direction: column;/*主轴方向，默认row*/
    justify-content: center; /*主轴对齐方式*/
    align-items: flex-start; /*交叉轴对齐方式*/
}

.QuGuiLayoutCenterH {
    display: flex;
    /*flex-direction: column;!*主轴方向，默认row*!*/
    justify-content: center; /*主轴对齐方式*/
    align-items: center; /*交叉轴对齐方式*/
}
.QuGuiLayoutBetweenH {
    display: flex;
    /*flex-direction: column;!*主轴方向，默认row*!*/
    justify-content: space-between; /*主轴对齐方式*/
    align-items: center; /*交叉轴对齐方式*/
}
.QuGuiBoxAlignRowAroundFlex {
    display: flex;
    /*flex-direction: column;!*主轴方向，默认row*!*/
    justify-content: space-around; /*主轴对齐方式*/
    align-items: center; /*交叉轴对齐方式*/
}

.QuGuiItemAlignEnd
{
    justify-content: flex-end;
}
.QuGuiItemAlignAround {
    justify-content: space-around;
}
.QuGuiItemAlignBetween {
    justify-content: space-between;
}

.QuGuiLayoutCenterV {
    display: flex;
    flex-direction: column; /*主轴方向，默认row*/
    justify-content: center; /*主轴对齐方式*/
    align-items: center; /*交叉轴对齐方式*/
}
.QuGuiBoxAlignColumnEndFlex {
    display: flex;
    flex-direction: column; /*主轴方向，默认row*/
    justify-content: flex-end; /*主轴对齐方式*/
    align-items: center; /*交叉轴对齐方式*/
}
.QuGuiBoxAlignColumnStartFlex {
    display: flex;
    flex-direction: column; /*主轴方向，默认row*/
    justify-content: flex-start; /*主轴对齐方式*/
    align-items: center; /*交叉轴对齐方式*/
}

.QuGuiHorizontalListBox {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    /*flex-direction: column;!*主轴方向，默认row*!*/
    justify-content: center; /*主轴对齐方式*/
    align-items: center; /*交叉轴对齐方式*/

}

.QuGuiHorizontalListBox div {
    padding: 15px 35px;
    margin: 0 15px;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    border-radius: 5px;

    transition:background .3s;
    -moz-transition:background .3s; /* Firefox 4 */
    -webkit-transition:background .3s; /* Safari and Chrome */
    -o-transition:background .3s; /* Opera */
}

.QuGuiHorizontalListBox div:hover {
    /*padding: 20px 40px;*/

    /*font-size: 18px;*/

    background: black;
    color: white;

    /*margin: 5px;*/

}


/*^_^*------------布局方式------------*^_^*/
.QuGuiPositionAbsolute
{
    position: absolute;
}
.QuGuiPositionRelative
{
    position: relative;
}
.QuGuiFloatLeft
{
    float: left;
}
.QuGuiLeft0
{
    left: 0;
}
.QuGuiTop0
{
    top: 0;
}

/*^_^*------------边框样式------------*^_^*/
.QuGuiBorderRadius3px
{
    border-radius: 3px;
}
.QuGuiBorderRadius5px
{
    border-radius: 5px;
}
.QuGuiBorderTop
{
    border: 0 solid #000000;
    border-top-width: 2px;
}
.QuGuiBorderBottom
{
    border: 0 solid #C9C5C5;
    border-bottom-width: 2px;
}
.QuGuiBorderBlack1px
{
    border: 1px solid #000000;
}
.QuGuiBorderTopBlack1px
{
    border-top: 1px solid #000000;
}
.QuGuiBorderBottomBlack1px
{
    border-bottom: 1px solid #000000;
}
.QuGuiBorderLeftBlack1px
{
    border-left: 1px solid #000000;
}
.QuGuiBorderTopGray1px
{
    border-top: 1px solid #cccccc;
}
.QuGuiBorderLeftBlack1px
{
    border-left: 1px solid #000000;
}
.QuGuiBorderLeftWhite1px
{
    border-left: 1px solid #FFFFFF;
}
.QuGuiBorderLeftGray1px
{
    border-left: 1px solid #CCCCCC;
}
.QuGuiBorderBlack2px
{
    border: 2px solid #000000;
}
.QuGuiBorderWhite2px
{
    border: 2px solid #FFFFFF;
}
.QuGuiBorderBlack3px
{
    border: 3px solid #000000;
}
.QuGuiBorderWhite1px
{
    border: 1px solid #FFFFFF;
}
.QuGuiBorderGray1px
{
    border: 1px solid #CCCCCC;
}
.QuGuiBorderWhite2px
{
    border: 2px solid #FFFFFF;
}
.QuGuiBorderWhite3px
{
    border: 3px solid #FFFFFF;
}
.QuGuiOutLineNone
{
    outline: none;
}
.QuGuiBorderNone
{
    border: none;
}
.QuGuiBorderBottomNone
{
    border-bottom: none;
}
.QuGuiBorderTopNone
{
    border-top: none;
}
.QuGuiBorderLeftNone
{
    border-left: none;
}
.QuGuiBorderRightNone
{
    border-right: none;
}
.QuGuiTitleBorder
{
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    text-align: center;
}


/*^_^*------------字体样式------------*^_^*/
/*方正博雅仿刊宋简体*/
@font-face
{
    font-family: FangzhengBoYaJianti; /*这里是说明调用来的字体名字*/
    src: url('../../fonts/FZBoYaFangKanSongS.otf'); /*这里是字体文件路径*/
}
/*方正宋刻本秀楷简体*/
@font-face
{
    font-family: FangzhengSongkeJianti; /*这里是说明调用来的字体名字*/
    src: url('../../fonts/FZSongKeBenXiuKaiS-R-GB.otf'); /*这里是字体文件路径*/
}
/*方正兰亭刊宋简体*/
@font-face
{
    font-family: FangzhengLantingJianti; /*这里是说明调用来的字体名字*/
    src: url('../../fonts/FZLTKSJW.TTF'); /*这里是字体文件路径*/
}
/*方正宋刻本秀楷繁体*/
@font-face
{
    font-family: FangzhengSongkeFanti; /*这里是说明调用来的字体名字*/
    src: url('../../fonts/FZSKBXKFW.TTF'); /*这里是字体文件路径*/
}
/*图标字体*/
@font-face
{
    font-family: 'iconfont';
    src: url('fonticon/iconfont.eot');
    src: url('fonticon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('fonticon/iconfont.woff') format('woff'),
    url('fonticon/iconfont.ttf') format('truetype'),
    url('fonticon/iconfont.svg#iconfont') format('svg');
}

.iconfont
{
    font-family: "iconFont", sans-serif !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.QuGuiTextFamilyMicroSoftYaHei
{
    font-family: "Microsoft YaHei" !important;
}

.QuGuiTextSize8 {
    font-size: .8em;
}

.QuGuiTextSize10 {
    font-size: 1.0em;
}
.QuGuiTextSize12 {
    font-size: 1.2em;
}

.QuGuiTextSize14 {
    font-size: 1.4em;
}
.QuGuiTextSize18 {
    font-size: 1.8em;
}
.QuGuiTextSize20 {
    font-size: 2.0em;
}
.QuGuiTextSize22 {
    font-size: 2.2em;
}

.QuGuiTextSize25 {
    font-size: 2.5em;
}

.QuGuiTextSize30 {
    font-size: 3.0em;
}

.QuGuiTextSize35 {
    font-size: 3.5em;
}

.QuGuiTextSize45 {
    font-size: 4.5em;
}

.QuGuiTextSize50 {
    font-size: 5.0em;
}

.QuGuiTextSize66 {
    font-size: 6.6em;
}
.QuGuiTextSize90 {
    font-size: 9.0em;
}
.QuGuiTextSize150 {
    font-size: 15.0em;
}

.QuGuiTextBold900 {
    font-weight: 900;
}

.QuGuiTextBolder {
    font-weight: bolder;
}

.QuGuiTextBold {
    font-weight: bold;
}

.QuGuiTextSelectionStyleBlack
{

    transition:text-shadow .3s;
    -moz-transition:text-shadow .3s; /* Firefox 4 */
    -webkit-transition:text-shadow .3s; /* Safari and Chrome */
    -o-transition:text-shadow .3s; /* Opera */
}

.QuGuiTextSelectionStyleBlack:hover {
    -moz-text-shadow: 0 0 5px #fff,
    0 0 2px #fff,
    0 0 2px #fff,
    0 0 2px #000,
    0 0 2px #000;
    -webkit-text-shadow: 0 0 5px #fff,
    0 0 2px #fff,
    0 0 2px #fff,
    0 0 2px #000,
    0 0 2px #000;
    text-shadow: 0 0 5px #fff,
    0 0 2px #fff,
    0 0 2px #fff,
    0 0 2px #000,
    0 0 2px #000;
}

.QuGuiTextSelectionStyleChinaRed
{

    transition:text-shadow .3s;
    -moz-transition:text-shadow .3s; /* Firefox 4 */
    -webkit-transition:text-shadow .3s; /* Safari and Chrome */
    -o-transition:text-shadow .3s; /* Opera */
}

.QuGuiTextSelectionStyleChinaRed:hover {
    -moz-text-shadow: 0 0 5px #fff,
    0 0 2px #fff,
    0 0 2px #fff,
    0 0 2px rgb(230, 0, 0),
    0 0 2px rgb(230, 0, 0);
    -webkit-text-shadow: 0 0 5px #fff,
    0 0 2px #fff,
    0 0 2px #fff,
    0 0 2px rgb(230, 0, 0),
    0 0 2px rgb(230, 0, 0);
    text-shadow: 0 0 5px #fff,
    0 0 2px #fff,
    0 0 2px #fff,
    0 0 2px rgb(230, 0, 0),
    0 0 2px rgb(230, 0, 0);
}

.QuGuiTextOpacity07
{

    opacity: 0.7;
    transition:opacity .3s;
    -moz-transition:opacity .3s; /* Firefox 4 */
    -webkit-transition:opacity .3s; /* Safari and Chrome */
    -o-transition:opacity .3s; /* Opera */
}

.QuGuiTextOpacity07:hover {
    opacity: 1;
}

.QuGuiTextStyleWhite
{
    color: #FFFFFF;
}

.QuGuiTextOmit
{
    word-break:break-all;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    overflow:hidden;
}
.QuGuiTextOmit8And3pc
 {
     word-break:break-all;
     display:-webkit-box;
     -webkit-box-orient:vertical;
     overflow:hidden;
 }

/*^_^*------------按钮样式------------*^_^*/
.QuGuiBtn {
    border: 0;

    transition:box-shadow .3s;
    -moz-transition:box-shadow .3s; /* Firefox 4 */
    -webkit-transition:box-shadow .3s; /* Safari and Chrome */
    -o-transition:box-shadow .3s; /* Opera */

    cursor: pointer;
}

.QuGuiBtn:focus {
    outline-color: rgb(230, 0, 0);
}

.QuGuiBtn:hover {
    -webkit-box-shadow: 0 0 3px 1px rgb(230, 0, 0);
    box-shadow: 0 0 3px 1px rgb(230, 0, 0);
}

.QuGuiBtnRadiusSmall
{
    width: 30px;
    height: 30px;

    border-radius: 15px;
}
.QuGuiBtnRadiusMiddle
{
    width: 40px;
    height: 40px;

    border-radius: 20px;
}
.QuGuiBtnRadiusLarge
{
    width: 100px;
    height: 100px;

    border-radius: 50px;
}

.QuGuiBlackBtnStyle {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QuGuiGrayBtnStyle {
    border: 1px solid #000000;
    background-color: #F0FFF0;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.QuGuiWhiteBtnStyle {
    padding: 8px 18px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QuGuiTextHoverChinaRed:hover
{
    color: rgb(230, 0, 0) !important;
}
.QuGuiTextChinaRed
{
    color: rgb(230, 0, 0) !important;
}

/*^_^*------------输入框样式------------*^_^*/
.QuGuiTextInput {
    border: 1px solid #000000;
    text-indent: 5px;
    font-size: 18px;
    font-weight: bold;


    transition:box-shadow .3s;
    -moz-transition:box-shadow .3s; /* Firefox 4 */
    -webkit-transition:box-shadow .3s; /* Safari and Chrome */
    -o-transition:box-shadow .3s; /* Opera */
}

.QuGuiTextInput:focus {
    border: 1px solid transparent;
    outline-color: rgb(230, 0, 0);
}

.QuGuiTextInput:hover {
    -webkit-box-shadow: 0 0 3px rgb(230, 0, 0);
    -moz-box-shadow: 0 0 3px rgb(230, 0, 0);
    box-shadow: 0 0 3px rgb(230, 0, 0);
}
.QuGuiTextInput2px {
    border: 2px solid #000000;
    text-indent: 5px;
    font-size: 18px;
    font-weight: bold;


    transition:box-shadow .3s;
    -moz-transition:box-shadow .3s; /* Firefox 4 */
    -webkit-transition:box-shadow .3s; /* Safari and Chrome */
    -o-transition:box-shadow .3s; /* Opera */
}

.QuGuiTextInput2px:focus {
    border: 2px solid transparent;
    outline-color: rgb(230, 0, 0);
}

.QuGuiTextInput2px:hover {
    -webkit-box-shadow: 0 0 3px rgb(230, 0, 0);
    -moz-box-shadow: 0 0 3px rgb(230, 0, 0);
    box-shadow: 0 0 3px rgb(230, 0, 0);
}

.QuGuiTextInputLine {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000000;


    transition:box-shadow .3s;
    -moz-transition:box-shadow .3s; /* Firefox 4 */
    -webkit-transition:box-shadow .3s; /* Safari and Chrome */
    -o-transition:box-shadow .3s; /* Opera */
}

.QuGuiTextInputLine:focus {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(230, 0, 0);
}

.QuGuiTextInputLine:hover {
    -webkit-box-shadow: 0 0 3px rgb(230, 0, 0);
    -moz-box-shadow: 0 0 3px rgb(230, 0, 0);
    box-shadow: 0 0 3px rgb(230, 0, 0);
}
.QuGuiTextInputLine2px {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #000000;


    transition:box-shadow .3s;
    -moz-transition:box-shadow .3s; /* Firefox 4 */
    -webkit-transition:box-shadow .3s; /* Safari and Chrome */
    -o-transition:box-shadow .3s; /* Opera */
}
.QuGuiTextInputLine1px {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000000;


    transition:box-shadow .3s;
    -moz-transition:box-shadow .3s; /* Firefox 4 */
    -webkit-transition:box-shadow .3s; /* Safari and Chrome */
    -o-transition:box-shadow .3s; /* Opera */
}

.QuGuiTextInputLine2px:focus {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(230, 0, 0);
}
.QuGuiTextInputLine1px:focus {
     outline: none;
     border-top: 0;
     border-left: 0;
     border-right: 0;
     border-bottom: 1px solid rgb(230, 0, 0);
 }

.QuGuiTextInputLine1px:hover, .QuGuiTextInputLine2px:hover {
    -webkit-box-shadow: 0 0 3px rgb(230, 0, 0);
    -moz-box-shadow: 0 0 3px rgb(230, 0, 0);
    box-shadow: 0 0 3px rgb(230, 0, 0);
}

.QuGuiTextInputLineCancelShadow:focus {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000000;
}

.QuGuiTextInputLineCancelShadow:hover {
    -webkit-box-shadow: 0 0 0 rgb(230, 0, 0);
    -moz-box-shadow: 0 0 0 rgb(230, 0, 0);
    box-shadow: 0 0 0 rgb(230, 0, 0);
}

.QuGuiTextIndentHalfEm
{
    text-indent: .5em;
}
.QuGuiTextIndent1em
{
    text-indent: 1em;
}
.QuGuiTextIndent2em
{
    text-indent: 2em;
}
.QuGuiTextAlignLeft
{
    text-align: left;
}
.QuGuiTextAlignCenter
{
    text-align: center;
}
.QuGuiTextAlignRight
{
    text-align: right;
}

.QuGuiTextArea
{
    border: 2px solid #000000;
    text-indent: 2em;
    font-size: 18px;
    font-weight: bold;


    transition:box-shadow .3s;
    -moz-transition:box-shadow .3s; /* Firefox 4 */
    -webkit-transition:box-shadow .3s; /* Safari and Chrome */
    -o-transition:box-shadow .3s; /* Opera */
}
.QuGuiTextArea:focus
{
    border: 2px solid transparent;
    outline-color: rgb(230, 0, 0);
}
.QuGuiTextArea:hover {
    -webkit-box-shadow: 0 0 3px rgb(230, 0, 0);
    -moz-box-shadow: 0 0 3px rgb(230, 0, 0);
    box-shadow: 0 0 3px rgb(230, 0, 0);
}
/*^_^*------------边距------------*^_^*/
.QuGuiMarginLeft5 {
    margin-left: 5px;
}

.QuGuiMarginLeft5 {
    margin-left: 5px;
}
.QuGuiMarginLeft10 {
    margin-left: 10px;
}
.QuGuiMarginLeft15 {
    margin-left: 15px;
}
.QuGuiMarginLeft20 {
    margin-left: 20px;
}
.QuGuiMarginRight5 {
    margin-right: 5px;
}
.QuGuiMarginRight10 {
    margin-right: 10px;
}
.QuGuiMarginRight30 {
    margin-right: 10px;
}
.QuGuiMarginLeft30 {
    margin-left: 20px;
}
.QuGuiMarginLeft30 {
    margin-left: 30px;
}
.QuGuiMarginLeft50 {
    margin-left: 50px;
}
.QuGuiMarginLeft30pc {
    margin-left: 30%;
}
.QuGuiMarginLeft50pc {
    margin-left: 50%;
}
.QuGuiMarginLeft60pc {
    margin-left: 60%;
}
.QuGuiMarginRight30pc {
    margin-right: 30%;
}
.QuGuiMarginRight20pc {
    margin-right: 20%;
}

.QuGuiMarginTop5 {
    margin-top: 5px;
}

.QuGuiMarginTop10 {
    margin-top: 10px;
}

.QuGuiMarginTop20 {
    margin-top: 20px;
}
.QuGuiMarginTop25 {
    margin-top: 25px;
}
.QuGuiMarginTop30 {
    margin-top: 30px;
}
.QuGuiMarginBottom5pc {
    margin-bottom: 5%;
}
.QuGuiMarginBottom5px {
    margin-bottom: 5px;
}
.QuGuiMarginBottom10px {
    margin-bottom: 10px;
}
.QuGuiPaddingBottom50px
{
    padding-bottom: 50px;
}
.QuGuiPaddingBottom20
{
    padding-bottom: 20px;
}
.QuGuiPadding10
{
    padding: 10px;
}
.QuGuiPadding5
{
    padding: 5px;
}
.QuGuiPaddingLeft5
{
    padding-left: 5px;
}
.QuGuiPaddingRight5
{
    padding-right: 5px;
}

/*^_^*------------显示方式------------*^_^*/
.QuGuiHide
{
    display: none;
}

/*^_^*------------动画------------*^_^*/
@keyframes btnRippleOuter
{
    0% {
        -webkit-box-shadow: 0 0 15px rgb(80, 0, 0);
        -moz-box-shadow: 0 0 15px rgb(80, 0, 0);
        box-shadow: 0 0 15px rgb(80, 0, 0);
        /*transform: scale(1.1);*/
    }
    30% {
        -webkit-box-shadow: 0 0 9px #000000;
        -moz-box-shadow: 0 0 9px #000000;
        box-shadow: 0 0 9px #000000;
        /*transform: scale(1.05);*/
    }
    80% {
        -webkit-box-shadow: 0 0 12px #111111;
        -moz-box-shadow: 0 0 12px #111111;
        box-shadow: 0 0 12px #111111;
        /*transform: scale(1.025);*/
    }
    100% {
        -webkit-box-shadow: 0 0 18px #555555;
        -moz-box-shadow: 0 0 18px #555555;
        box-shadow: 0 0 18px #555555;
        /*transform: scale(1);*/
    }
}

@-moz-keyframes btnRippleOuter /* Firefox */
{
    from {background: red;}
    to {background: yellow;}
}

@-webkit-keyframes btnRippleOuter /* Safari 和 Chrome */
{
    0% {
        -webkit-box-shadow: 0 0 3px #000000;
        -moz-box-shadow: 0 0 3px #000000;
        box-shadow: 0 0 3px #000000;
    }
    30% {
        -webkit-box-shadow: 0 0 9px #111111;
        -moz-box-shadow: 0 0 9px #111111;
        box-shadow: 0 0 9px #111111;
    }
    80% {
        -webkit-box-shadow: 0 0 12px #222222;
        -moz-box-shadow: 0 0 12px #222222;
        box-shadow: 0 0 12px #222222;
    }
    100% {
        -webkit-box-shadow: 0 0 16px rgb(230, 0, 0);
        -moz-box-shadow: 0 0 16px rgb(230, 0, 0);
        box-shadow: 0 0 16px rgb(230, 0, 0);
    }
}

@-o-keyframes btnRippleOuter /* Opera */
{
    from {background: red;}
    to {background: yellow;}
}

.QuGuiBtnRipple
{
    animation: btnRippleOuter 2s infinite;
    -moz-animation: btnRippleOuter 2s infinite;	/* Firefox */
    -webkit-animation: btnRippleOuter 2s infinite;	/* Safari 和 Chrome */
    -o-animation: btnRippleOuter 2s infinite;
}

.QuGuiAllDelay
{
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari and Chrome */
    -o-transition: all .3s; /* Opera */
}

.QuGuiRotate180
{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

    -moz-transform:           rotate(180deg);
    -webkit-transform:        rotate(180deg);
    -o-transform:             rotate(180deg);
    transform:                rotate(180deg);
}

.QuGuiFrostedGlass
{
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
}

/*^_^*------------debug------------*^_^*/
.debugBorder {
    border: 1px solid red;
}