*{ margin: 0; padding: 0; }
html, body
{
    height: 100%;
    font-size: 62.5%;
    font-family: FangSong;

    min-width: 1366px;
    min-height: 768px;
}
/* webkit, opera, IE9 */
::selection { background: rgb(230, 0, 0); color: #FFFFFF; }
/* mozilla firefox */
::-moz-selection { background:rgb(230, 0, 0); color: #FFFFFF; }

/*^_^*------------容器和导航------------*^_^*/
.QuGuiFullScreenContainer
{
    width: 100%;
    height: 100%;
}
.boxLayer1
{
    width: 85%;
}
.pointerCursor
{
    cursor: pointer;
}

/*^_^*------------属性操作------------*^_^*/
.QuGuiInputHide
{
    background: transparent;
    border: none;
}


/*^_^*------------颜色------------*^_^*/
.QuGuiTextColorLinkChinaRed
{
    color: rgb(230, 0, 0);
}
.QuGuiTextColorLinkBlack
{
    color: #000000;
}

/*^_^*------------尺寸------------*^_^*/
.QuGuiWidth250
{
    width: 250px;
}
.QuGuiHeight50
{
    height: 50px;
}
.QuGuiHeight40
{
    height: 40px;
}
.QuGuiSizeLarge
{
    width: 300px;
    height: 40px;
}

/*^_^*------------字体样式------------*^_^*/

.QuGuiTextSize8
{
    font-size: .8em;
}
.QuGuiTextSize12
{
    font-size: 1.2em;
}
.QuGuiTextSize14
{
    font-size: 1.4em;
}
.QuGuiTextSize25
{
    font-size: 2.5em;
}
.QuGuiTextSize30
{
    font-size: 3.0em;
}
.QuGuiTextSize35
{
    font-size: 3.5em;
}
.QuGuiTextSize45
{
    font-size: 4.5em;
}
.QuGuiTextSize50
{
    font-size: 5.0em;
}
.QuGuiTextSize66
{
    font-size: 6.6em;
}

.QuGuiTextBold900
{
    font-weight: 900;
}
.QuGuiTextBolder
{
    font-weight: bolder;
}
.QuGuiTextBold
{
    font-weight: bold;
}

.QuGuiTextSelectionStyleChinaRed
{
}
.QuGuiTextSelectionStyleChinaRed:hover
 {
    -moz-text-shadow: 0 0 5px #fff,
    0 0 2px #fff,
    0 0 2px #fff,
    0 0 2px #000,
    0 0 2px #000;
    -webkit-text-shadow: 0 0 5px #fff,
    0 0 2px #fff,
    0 0 2px #fff,
    0 0 2px #000,
    0 0 2px #000;
    text-shadow: 0 0 5px #fff,
    0 0 2px #fff,
    0 0 2px #fff,
    0 0 2px #000,
    0 0 2px #000;
 }

.QuGuiTextOpacity07
{
    opacity: 0.7;
}
.QuGuiTextOpacity07:hover
{
    opacity: 1;
}

.QuGuiTextStyleWhite
{
    color: #FFFFFF;
}

/*^_^*------------按钮样式------------*^_^*/
.QuGuiBtn
{
    border: 0;
}
.QuGuiBtn:focus
{
    outline-color: rgb(230, 0, 0);
}
.QuGuiBtn:hover
{
    -webkit-box-shadow: 0 0 3px rgb(230, 0, 0);
    -moz-box-shadow: 0 0 3px rgb(230, 0, 0);
    box-shadow: 0 0 3px rgb(230, 0, 0);
}

.QuGuiBlackBtnStyle
{
    padding: 10px 20px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QuGuiWhiteBtnStyle
{
    padding: 8px 18px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*^_^*------------输入框样式------------*^_^*/
.QuGuiTextInput
{
    border: 1px solid #000000;
    text-indent: 5px;
    font-size: 18px;
    font-weight: bold;
}
.QuGuiTextInput:focus
{
    border: 1px solid transparent;
    outline-color: rgb(230, 0, 0);
}
.QuGuiTextInput:hover
{
    -webkit-box-shadow: 0 0 3px rgb(230, 0, 0);
    -moz-box-shadow: 0 0 3px rgb(230, 0, 0);
    box-shadow: 0 0 3px rgb(230, 0, 0);
}

.QuGuiTextInputLine
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000000;
}
.QuGuiTextInputLine:focus
{
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(230, 0, 0);
}
.QuGuiTextInputLine:hover
{
    -webkit-box-shadow: 0 0 3px rgb(230, 0, 0);
    -moz-box-shadow: 0 0 3px rgb(230, 0, 0);
    box-shadow: 0 0 3px rgb(230, 0, 0);
}

.QuGuiTextInputLineCancelShadow:focus
{
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000000;
}
.QuGuiTextInputLineCancelShadow:hover
 {
     -webkit-box-shadow: 0 0 0 rgb(230, 0, 0);
     -moz-box-shadow: 0 0 0 rgb(230, 0, 0);
     box-shadow: 0 0 0 rgb(230, 0, 0);
 }

/*^_^*------------边距------------*^_^*/
.QuGuiMarginLeft5 { margin-left: 5px; }
.QuGuiMarginLeft10 { margin-left: 10px; }
.QuGuiMarginLeft30 { margin-left: 30px; }
.QuGuiMarginTop5 { margin-top: 5px; }
.QuGuiMarginTop10 { margin-top: 10px; }
.QuGuiMarginTop30 { margin-top: 30px; }

/*^_^*------------debug------------*^_^*/
.debugBorder
{
    border: 1px solid red;
}