.boxContainer
{
    display: flex;
    /*flex-direction: column;!*主轴方向，默认row*!*/
    justify-content: center;/*主轴对齐方式*/
    align-items: center;/*交叉轴对齐方式*/
}

#headIcon
{
    width: 100px;
    height: 100px;
    border-radius: 11px;
}

.locationNameBox
{
    width: 370px;
    height: 100px;
}
#locationName
{
    width: 125px;
    height: 100%;
}
#locationSummary
{
    width: 195px;
    height: 100%;
    padding-left: 20px;

    font-weight: 600;
}

#slogan
{
    width: 60%;
    height: 100%;
    font-size: 20px;
    /*background: yellow;*/
}
.navBody
{
    width: 98%;
    height: 95%;
    background: rgba(201, 197, 197, 0.25);

    border: 0 solid #000000;
    border-left-width: 2px;
    border-right-width: 2px;

    display: flex;
    flex-direction: column;/*主轴方向，默认row*/
    justify-content: center;/*主轴对齐方式*/
    align-items: center;/*交叉轴对齐方式*/
}
.navBodyContentBox
{
    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: row;/*主轴方向，默认row*/
    justify-content: center;/*主轴对齐方式*/
    align-items: center;/*交叉轴对齐方式*/
}
#navBtnIndexBtn
{
}
#navBtnZoomIn
{
    margin-left: 10px;
}
.profileBottomBtn
{
    width: 40px;
    height: 40px;
    border-radius: 20px;

    background: #000000;
    color: #FFFFFF;

    opacity: 0.8;

    border: none;

    transition:opacity .3s;
    -moz-transition:opacity .3s; /* Firefox 4 */
    -webkit-transition:opacity .3s; /* Safari and Chrome */
    -o-transition:opacity .3s; /* Opera */
}
.profileBottomBtn:hover
{
    opacity: 1;
}
.profileBottomBtn:focus
{
    outline-color: transparent;
}

.leftContentBox
{
    width: 90%;
    height: 95%;

    /*background: pink;*/

    text-align: center;
}

.profileNav
{
    width: 98%;
    height: 80%;

    line-height: 80%;

    border-width: 2px 0 2px 0;
    border-color: #000000;
    border-style: solid;

    text-align: center;
}

.visitedPlaceBox
{
    width: 90%;
    height: 80%;

    /*background: red;*/
}

.visitedPlaceBoxCenter
{
    width: 100%;
    height: 80%;
}
.visitedPlaceBoxBottom
{
    width: 100%;
    height: 20%;
    /*background: pink;*/
}

.navBtnBox
{
    width: 100%;
    height: 90%;
}
.navBtnSelected
{
    background: black;
    color: white;
}

.everyDayMsg
{
    width: 100%;
    height: 10%;

    /*background: red;*/

    font-size: 18px;
    font-weight: 500;
    color: #BBBBBB;
    text-indent: 2em;

    text-align: left;
}

.visitedPlace
{
    width: 80%;
    height: 100%;

    /*background: pink;*/

    margin: 10px;
}
.visitedPlace img
{
    width: 100%;
    height: 100%;
}

.navBtn
{
    width: 40px;
    height: 40px;

    background: transparent;

    margin: 0 30px;

    border-radius: 20px;
    border: none;

    font-size: 22px;
    font-weight: bolder;
    color: #AAA;
}
.navBtn:focus
{
    outline-color: transparent;
}
.navBtn:hover
{
    /*-webkit-box-shadow: 0 0 3px 1px rgb(230, 0, 0);*/
    /*-moz-box-shadow: 0 0 3px 1px rgb(230, 0, 0);*/
    /*box-shadow: 0 0 3px 1px rgb(230, 0, 0);*/
    /*border: 2px solid rgba(230, 0, 0, 0.5);*/
}